<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OO Abstraction</title>
    <div th:insert="base::header"></div>
</head>
<body style="background-color: azure">
<!-- Navigation bar-->
<div th:insert="base :: navbar"></div>
<br>
<div class="container" style="background-color: lightgoldenrodyellow">
    <h3>Java Abstraction</h3>
    <font size="-2"><i> 28 July 2017</i></font>
<pre>
Abstraction is an important OO concept in Java. Abstraction means using simple things to represent complexity.
We all know how to turn the TV on, but we don’t need to know how it works in order to enjoy it. In Java,
abstraction means simple things like objects, classes, and variables represent more complex underlying code and
data. This is important because it lets avoid repeating the same work multiple times.

<b><h5>How Abstraction Works</h5></b>
Abstraction as an OOP concept in Java works by letting programmers create useful, reusable tools. For example,
a programmer can create several different types of objects. These can be variables, functions, or data structures.
Programmers can also create different classes of objects. These are ways to define the objects.

For instance, a class of variable might be an address. The class might specify that each address object shall have
a name, street, city, and zip code. The objects, in this case, might be employee addresses, customer addresses,
or supplier addresses.
</pre>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>