<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GitHub</title>
    <div th:insert="base::header"></div>
</head>
<body style="background-color: azure">
<!-- Navigation bar-->
<div th:insert="base :: navbar"></div>
<br>
<div class="container" style="background-color: lightgoldenrodyellow">
    <h3>What is GitHub</h3>
    <font size="-2"><i> 28 July 2017</i></font>
<pre>
<b>GitHub</b> is an American company that provides hosting for software
development version control using Git. It is a subsidiary of Microsoft,
which acquired the company in 2018 for $7.5 billion.[4] It offers all of
the distributed version control and source code management (SCM) functionality
of Git as well as adding its own features. It provides access control and
several collaboration features such as bug tracking, feature requests, task
management, and wikis for every project.

GitHub offers plans for free, professional, and enterprise accounts.
Free GitHub accounts are commonly used to host open source projects.
As of January 2019, GitHub offers unlimited private repositories to all
plans, including free accounts. As of May 2019, GitHub reports having
over 37 million users and more than 100 million repositories[10]
(including at least 28 million public repositories),[11] making it the
largest host of source code in the world.[12]. It also lets us alter our
original code without breaking it for others who have adopted it in the
meantime.
</pre>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>