<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Homepage</title>
    <div th:insert="base::header"></div>
</head>
<body style="background-color: azure">
<!-- Navigation bar-->
<div th:insert="base :: navbar"></div>
<!--<div class="container">-->
<!--    <div class="jumbotron container-fluid">-->
<!--        <h8>Explore OO Polymorphism</h8>-->
<!--        &lt;!&ndash;    <p class="lead">How long did it take us? There were 20 something pairs in total.</p>&ndash;&gt;-->
<!--        &lt;!&ndash;    <hr class="my-4">&ndash;&gt;-->
<!--            <p><a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a></p>-->
<!--    </div>-->
<!--</div>-->
<br>
<div class="container" style="background-color: azure">
    <h3>Blog Home</h3>
</div>

<br>
<div class="container" style="background-color: lightsteelblue">
    <b><h4>Java Polymorphism</h4></b>
    <font size="-2"><i> 28 July 2017</i></font>
    <p>Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by inheritance.</p>
    <!--    <p><a class="btn btn-primary btn-sm" href="/polymorphism" role="button">Learn more</a></p>-->
    <p><a class="nav-link" href="/polymorphism">Details</a></p>
</div>
<div class="container" style="background-color: lightsteelblue">
    <b> <h4>Composition</h4></b>
    <font size="-2"><i> 28 July 2017</i></font>
    <p>Composition is process of building complex objects from simple ones. This type of relationship is a containing relationship. It uses OO principles to achieve greater simplicity, maintainability and re-use of code.</p>
    <p><a class="nav-link" href="/composition">Details</a></p>
</div>
<div class="container" style="background-color: lightsteelblue">
    <b> <h4>Abstraction</h4></b>
    <font size="-2"><i> 28 July 2017</i></font>
    <p>OO abstraction is the concept of wrapping up complex actions in simple verbs. Describe each thing you’ve abstracted clearly, and hide the complexity. Someone can always pop the hood if they need to.</p>

    <p><a class="nav-link" href="/abstraction">Details</a></p>
</div>
<div class="container" style="background-color: lightsteelblue">
    <b><h4>Inheritance</h4></b>
    <font size="-2"><i> 28 July 2017</i></font>
    <p>Classes can have parent classes. Child classes will inherit all of the behavior and attributes of the parent class. Child classes can then choose to overwrite some of those as necessary.</p>
<!--    <p><a class="btn btn-primary btn-sm" href="/inheritance" role="button">Learn more</a></p>-->
    <p><a class="nav-link" href="/inheritance">Details</a></p>
</div>
<div class="container" style="background-color: lightsteelblue">
   <b> <h4>Encapsulation</h4></b>
    <font size="-2"><i> 28 July 2017</i></font>
    <p>As much as you can, keep state and logic internal. This can mean have as few attribute readers as possible, or as few instance vars as possible. The less you have to keep track off at any given time, the better.</p>
<!--    <p><a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a></p>-->
    <p><a class="nav-link" href="/encapsulation">Details</a></p>
</div>
<div class="container" style="background-color: lightsteelblue">
    <b> <h4>What is GitHub?</h4></b>
    <font size="-2"><i> 28 July 2017</i></font>
    <p>GitHub is an American company that provides hosting for software development version control using Git. </p>
<!--    <p><a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a></p>-->
    <p><a class="nav-link" href="/github">Details</a></p>
</div>
<!--<div class="container" style="background-color: lightsteelblue">-->
<!--    test text-->
<!--    <p><a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a></p>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="jumbotron container-fluid">-->
<!--        <h6>Composition</h6>-->
<!--        &lt;!&ndash;    <p class="lead">How long did it take us? There were 20 something pairs in total.</p>&ndash;&gt;-->
<!--        &lt;!&ndash;    <hr class="my-4">&ndash;&gt;-->
<!--        <a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a>-->
<!--    </div>-->
<!--</div>-->

<!--Footnote-->
<div th:insert="base::footnote"></div>

<!--Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>