<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OO Inheritance</title>
    <div th:insert="base::header"></div>
</head>
<body style="background-color: azure">
<!-- Navigation bar-->
<div th:insert="base :: navbar"></div>
<br>
<div class="container" style="background-color: lightgoldenrodyellow">
    <h3>Java Inheritance</h3>
    <font size="-2"><i> 28 July 2017</i></font>
<pre>
Inheritance. This is a special feature of Object Oriented Programming in Java.
It lets programmers create new classes that share some of the attributes of
existing classes. This lets us build on previous work without reinventing the wheel.
</pre>
<b><h5>How Inheritance Works</h5></b>
<pre>
Inheritance is another labor-saving Java OOP concept. It works by letting a new
class adopt the properties of another.

We call the inheriting class a subclass or a child class. The original class
is often called the parent. We use the keyword extends to define a new class
that inherits properties from an old class.
</pre>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>